<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="jumbotron" style="margin-top: 40px">
        <form>
          <div class="form-group">
            <label for="inputUsername">Usuário</label>
            <input id="inputUsername" type="text" class="form-control" placeholder="Usuário" ng-model="username">
          </div>
          <div class="form-group">
            <label for="inputPassword">Senha</label>
            <input id="inputPassword" type="password" class="form-control" placeholder="Senha" ng-model="password">
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-default" value="Entar" ng-click="authenticate()">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>