<div class="container no-administration">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>Question Box</h1>
      </div>
      
      <!-- group-filter -->
      <form>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </div>
            <input type="text" class="form-control" placeholder="Do you look for which group?" ng-model="filter">
          </div>
        </div>
      </form>
      <!-- /group-filter -->
      
      <!-- group-list -->
      <div class="list-group">
        <a class="list-group-item" ng-repeat="group in groups | filter : filter" ng-href="#!/{{group._id}}">
          <h4 class="list-group-item-heading">{{group.name}}</h4>
          <p class="list-group-item-text">{{group.description}}</p>
        </a>
      </div>
      <!-- /group-list -->
    </div>
  </div>
</div>