<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="page-header">
        <h1>{{group.name}}</h1>
      </div>
      <div ng-hide="started">
        <div class="jumbotron" ng-show="isAvailableResult">
          <header>
            <h2>Resultado do exame:</h2>
          </header>
          <p>
            <br />Questões respondidas: <span class="badge">{{numberOfQuestionsAnswered}}</span>
            <br />Questões não respondidas: <span class="badge">{{numberOfQuestionsNotAnswered}}</span>
            <br />Erros: <span class="badge">{{numberOfErrors}}</span>
            <br />Acertos: <span class="badge">{{numberOfHits}}</span>
          </p>
          <p class="text-warning"><small>Você pode fazer o exame quantas vezes quiser. A prática de resolução de questões te ajudará a fixar melhor o conteúdo do exame.</small></p>
        </div>
        <p>{{group.description}}</p>
        <div class="btn-group" role="group">
          <a class="btn btn-default" ng-href="#!/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Início</a>
          <button type="button" class="btn btn-default" ng-click="start()"><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Iniciar</button>
        </div>
      </div>
      <div ng-show="started">
        <p class="text-right"><b>({{question.order}}/{{numberOfQuestions}})</b></p>
        <p class="lead" ng-class="{'bg-warning': question.markedForReview}">{{question.order}}. {{question.enunciation}}</p>
        <div class="list-group">
          <button type="button" class="list-group-item" ng-repeat="alternative in question.alternatives" ng-class="{'active': alternative.isMarked}" ng-click="mark(alternative)">{{alternative.order}}. {{alternative.answer}}</button>
        </div>
        <div class="btn-group" role="group">
          <a class="btn btn-default" ng-href="#!/"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Sair</a>
          <button type="button" class="btn btn-default" ng-click="toPrevious()"><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span> Anterior</button>
          <button type="button" class="btn btn-default" ng-click="toNext()"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span> Próxima</button>
          <button type="button" class="btn btn-default" ng-click="markForReview()"><span class="glyphicon glyphicon-check" aria-hidden="true"></span> Revisar</button>
          <button type="button" class="btn btn-default" ng-click="finalize()" data-toggle="modal" data-target="#finalizeModal"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Finalizar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="finalizeModal" tabindex="-1" role="dialog" aria-labelledby="finalizeModalTitle">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="finalizeModalTitle">{{group.name}}</h4>
      </div>
      <div class="modal-body">
        <p>Confira as questões respondidas, não respondidas e marcadas para revisão. Caso queira visualizar uma questão, basta clicar no botão com o número da mesma.</p>
        <p style="margin: 40px 0">
          <button type="button" class="btn btn-sm" data-dismiss="modal" ng-repeat="review in questions" ng-class="{'btn-primary': review.isAnswered, 'btn-danger': !review.isAnswered && !review.markedForReview, 'btn-warning': review.markedForReview}" style="margin: 0 2px 2px 0"
            ng-click="toQuestion(review.order - 1)">{{review.order}}</button></p>
        <p class="text-right">
          <span class="label label-primary">Respondida</span>
          <span class="label label-danger">Não respondida</span>
          <span class="label label-warning">Revisar</span>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="checkResult()"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Finalizar</button>
      </div>
    </div>
  </div>
</div>